/.DS_Store
/.localized
/ilovam.zip
/my_portfolio_store
/webilova
/Снимок экрана 2026-01-12 в 21.44.31.png
/Снимок экрана 2026-01-13 в 00.56.56.png
/Снимок экрана 2026-01-14 в 02.50.51.png
/Снимок экрана 2026-01-14 в 02.50.59.png.DS_Store
